<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Raza Rest Api Our website is proud to present a diverse range of dependable and advanced application programming interfaces (APIs) to meet various business and technical needs. Our comprehensive collection of APIs eliminates any confusion when searching for the perfect program interface."
    />
    <meta
      name="robots"
      content="archive, follow, imageindex, index, odp, snippet, translate"
    />
    <meta name="author" content="Kibieptr" />
    <title>Raza Rest Api | Home</title>
    <meta
      property="og:description"
      name="og:description"
      content="Nothing In Here"
    />
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css" />
    <link
      rel="shortcut icon"
      href="https://telegra.ph/file/f7d94892b32cdb66f4d36.jpg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="vendors/css/lynn.css" />
    <script
      src="https://cdn.rawgit.com/bungfrangki/efeksalju/2a7805c7/efek-salju.js"
      type="text/javascript"
    ></script>
    <!-- Script Google -->
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-KGWTQYSCQV"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-KGWTQYSCQV");
    </script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-M6LQWTLH");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-M6LQWTLH"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="text">
      <img
        src="https://telegra.ph/file/f7d94892b32cdb66f4d36.jpg"
        style="width: 100px; height: 100px; border-radius: 70%"
      />
      <div class="status">
        <h1>Raza Rest Api</h1>
      </div>
      <div class="desc">
        <h2>
          WELCOME TO THE RAZA REST API WEB PAGE, IF YOU WANT TO GO TO THE REST
          API YOU CAN CLICK ON THE DASHBOARD AND IF ANYONE WANT TO ASK YOU CAN
          CONTACT ME VIA INSTAGRAM
        </h2>
      </div>
      <div class="readdocs">
        <a href="/docs" class="docs">DASHBOARD</a> -
        <a href="https://instagram.com/kibieptr_" class="docs">INSTAGRAM</a>
      </div>
    </div>
  </body>
</html>
